.ct-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    background: url(../images/ct_icons.png) no-repeat 0 0;
    margin-right: 5px;
}

.ct-icon-nvzhuang {
    background-position: 0 0;
}

.ct-icon-nvzhuang :hover {
    background-position: -12px 0;
}

.ct-icon-nanzhaung {
    background-position: -24px 0;
}

.ct-icon-xiezi {
    background-position: -48px 0;
}

.ct-icon-xiangbao {
    background-position: -72px 0;
}

.ct-icon-muying {
    background-position: -96px 0;
}

.ct-icon-meizhuang {
    background-position: -120px 0;
}

.ct-icon-jujia {
    background-position: -144px 0;
}

.ct-icon-jiafang {
    background-position: -168px 0;
}

.ct-icon-wenti {
    background-position: -192px 0;
}

.ct-icon-meishi {
    background-position: -216px 0;
}

.ct-icon-shuma {
    background-position: -240px 0;
}

.ct-icon-dianqi {
    background-position: -264px 0;
}

.ct-icon-neiyi {
    background-position: -288px 0;
}

.ct-icon-peishi {
    background-position: -312px 0;
}