@charset "UTF-8";
body {
  background: #f6f6f6;
  color: #666;
  min-width: 1240px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.top {
  width: 100%;
  height: 30px;
  background: #f6f6f6;
}

.top .top_main {
  width: 1200px;
  margin: 0 auto;
}

.top .top_main_right {
  width: 503.36px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  float: right;
}

.top .top_main_right_login {
  height: 29px;
  float: left;
}

.top .top_main_right_login a {
  margin-left: 15px;
}

#nav-reg {
  color: red;
}

.top .top_cart {
  float: left;
  position: relative;
  width: 107px;
  height: 30px;
}

.top .top_cart:hover {
  background: #fff;
}

.top .top_cart .top_cart_a {
  width: 107px;
  position: absolute;
  top: 0;
  left: 0;
}

.top .top_cart .cart_pic {
  position: relative;
  width: 16px;
  height: 18px;
  float: left;
  margin: 7px 11px 0 12px;
  background: url(../images/icon-total.png) no-repeat 0 -156px;
}

.cart_font .num {
  background: none repeat scroll 0 0 #ff464e;
  display: inline;
  width: 18px;
  height: 18px;
  float: right;
  border-radius: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  margin: 5px 10px 0 0;
}

.top .top_business {
  margin-left: 15px;
  float: left;
}

.top_service {
  margin-left: 15px;
  float: left;
}

.top .top_main .top_main_right a {
  color: #333;
}

.header {
  width: 100%;
  background: #fff;
  border-bottom: 2px solid red;
}

.header_main {
  position: relative;
  width: 1200px;
  height: 85px;
  margin: 0 auto;
}

.header .logo {
  position: absolute;
  top: 17px;
  width: 210px;
  height: 52px;
  background: url(https://jp.juancdn.com/juanpi/images/total/header-total.gif?20160112) no-repeat -78px -52px;
}

.header .strong {
  width: 465px;
  height: 33px;
  position: absolute;
  top: 28px;
  right: 290px;
  background: url(../images/header-total.png) no-repeat 0 0;
}

.header .strong a {
  display: block;
  width: 96px;
  height: 33px;
  float: left;
  margin-left: 50px;
}

.header .search {
  position: absolute;
  top: 25px;
  right: 0;
  width: 237px;
  height: 35px;
}

.header .search .search_box {
  float: left;
  display: block;
  width: 200px;
  height: 35px;
  line-height: 30px;
  background: #efefef;
}

.header .search .search_box input {
  width: 190px;
  height: 30px;
  border: none;
  background: #efefef;
  margin: 2px 0 0 10px;
  outline: none;
  color: #d9d9d9;
}

.btn_search {
  float: right;
  border: 0 none;
  display: block;
  width: 37px;
  height: 35px;
  background: url(https://jp.juancdn.com/juanpi/images/total/header-total.gif?20160112) no-repeat right -65px;
  cursor: pointer;
  outline: none;
}

.headernav {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
}

.header .headernav a {
  float: left;
  padding: 12px 24px 0;
  height: 26px;
  font-size: 14px;
}

.header .headernav .navli a:hover {
  color: red;
}

.shouye a {
  border-radius: 6px 6px 0 0;
  float: left;
  height: 38px;
  background: #ff464e;
  color: #fff;
}

.navli a {
  color: #000;
}

.new_phone {
  list-style: none;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  font-style: normal;
  width: 12px;
  float: left;
  margin-right: 3px;
  vertical-align: baseline;
  height: 16px;
  background: url(https://jp.juancdn.com/juanpi/images/global/phone-new-20151119.png?20160112) no-repeat;
}

.lunbo {
  width: 1200px;
  height: 380px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.lunbo_main {
  position: relative;
  width: 700px;
  height: 360px;
  margin-left: 230px;
  margin-top: 20px;
}

.lunbo ul {
  float: left;
  position: relative;
  width: 700px;
  height: 360px;
}

.lunbo ul li {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}

.lunbo ol {
  float: left;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.lunbo ol li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  margin-right: 5px;
}

.round .active {
  background: greenyellow;
}

.round {
  margin-right: -100px;
  position: absolute;
  width: 200px;
  height: 20px;
  right: 50%;
  margin-top: -30px;
  text-align: center;
}

.round a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
  border: 3px solid #fff;
}

.round .current {
  background: blue;
}

#left,
#right {
  display: inline-block;
  width: 30px;
  height: 50px;
  font-size: 40px;
  position: absolute;
  color: #fff;
  top: 50%;
  margin-top: -20px;
  text-decoration: none;
}

#left {
  z-index: 12;
  left: 0px;
}

#right {
  z-index: 12;
  right: 0px;
}

.banner_l {
  color: #666;
  margin: 0;
  padding: 0;
  position: relative;
  top: -380px;
  z-index: 10;
  width: 210px;
  display: block;
  left: 0;
}

.banner_l dl {
  color: #666;
  list-style: none;
  width: 190px;
  height: 377px;
  overflow: hidden;
  padding: 2px 10px 1px;
  background-color: #fff;
}

.banner_l dl dd {
  color: #666;
  list-style: none;
  float: left;
  width: 50%;
  height: 54px;
  overflow: hidden;
  line-height: 53px;
  text-align: center;
  border-bottom: 1px dashed #ddd;
}

.banner_l dl dd a {
  list-style: none;
  color: #5e5e5e;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 14px;
  position: relative;
}

.banner_l dl dd a:hover {
  color: red;
}

.banner_l dl dd a em {
  list-style: none;
  line-height: 53px;
  text-align: center;
  color: #5e5e5e;
  font-style: normal;
  float: right;
  width: 1px;
  height: 15px;
  background-color: #eee;
  margin-top: 18px;
}

.banner_r {
  position: absolute;
  top: 18px;
  right: 0;
  height: 360px;
  width: 250px;
}

.banner_r dl {
  color: #666;
  visibility: visible;
  list-style: none;
  width: 251px;
  height: 360px;
  overflow: hidden;
  background-color: #e2e2e2;
}

.banner_r dd {
  color: #666;
  visibility: visible;
  list-style: none;
  float: left;
  display: inline;
  height: 119px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  margin: 0 1px 1px 0;
}

.ct-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background: url(../images/ct_icons.png) no-repeat 0 0;
  margin-right: 5px;
}

.ct-icon-nvzhuang {
  background-position: 0 0;
}

.ct-icon-nvzhuang :hover {
  background-position: -12px 0;
}

.ct-icon-nanzhaung {
  background-position: -24px 0;
}

.ct-icon-xiezi {
  background-position: -48px 0;
}

.ct-icon-xiangbao {
  background-position: -72px 0;
}

.ct-icon-muying {
  background-position: -96px 0;
}

.ct-icon-meizhuang {
  background-position: -120px 0;
}

.ct-icon-jujia {
  background-position: -144px 0;
}

.ct-icon-jiafang {
  background-position: -168px 0;
}

.ct-icon-wenti {
  background-position: -192px 0;
}

.ct-icon-meishi {
  background-position: -216px 0;
}

.ct-icon-shuma {
  background-position: -240px 0;
}

.ct-icon-dianqi {
  background-position: -264px 0;
}

.ct-icon-neiyi {
  background-position: -288px 0;
}

.ct-icon-peishi {
  background-position: -312px 0;
}

.new {
  width: 100%;
  height: 60px;
}

.new_products {
  color: #666;
  zoom: 1;
  clear: both;
  margin: 30px auto 0px auto;
  background: #fff;
  line-height: 60px;
  width: 1200px;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: 65px;
}

.new_products .new_box {
  float: left;
  line-height: 60px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.new_products .new_box span {
  line-height: 60px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #bbb;
  margin-left: 10px;
}

.new_products .whole span {
  font-weight: normal;
  font-size: 14px;
  color: red;
}

.whole {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.whole a i {
  background: url(../images/icon_arrow-new.png);
  width: 9px;
  height: 10px;
  display: inline-block;
  margin-top: -2px;
}

.new_time {
  color: #666;
  clear: both;
  margin: 0 auto;
  width: 1200px;
  height: 245px;
}

.time_list {
  background: #fff;
  padding: 0px 10px 0;
  height: auto;
  overflow: hidden;
  width: 1180px;
}

.time {
  list-style: none;
  zoom: 1;
  clear: both;
  height: 170px;
}

.time li {
  list-style: none;
  float: left;
  display: inline;
  margin: 0 8px;
  width: 278px;
  height: 170px;
}

.time_pic a {
  list-style: none;
  color: #5e5e5e;
  background: none repeat scroll 0 0 #fff;
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  height: 170px;
}

.time_pic .pic_main {
  list-style: none;
  color: #5e5e5e;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  height: 130px;
  width: 278px;
  overflow: hidden;
}

.time_pic img {
  list-style: none;
  color: #5e5e5e;
  cursor: pointer;
  border: 0;
  display: block;
  margin: 0 auto;
  height: 130px;
  width: 278px;
}

.count_down {
  list-style: none;
  color: #5e5e5e;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 22px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  line-height: 22px;
  width: 281px;
  display: block;
}

.count_down a {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 22px;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 281px;
}

.time_bg {
  list-style: none;
  color: #5e5e5e;
  cursor: pointer;
  line-height: 22px;
  margin: 0;
  padding: 0;
  height: 22px;
  background: #000;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 281px;
}

.discount_box {
  list-style: none;
  color: #5e5e5e;
  cursor: pointer;
  height: 40px;
  line-height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
}

.discount {
  list-style: none;
  cursor: pointer;
  line-height: 20px;
  margin: 10px 0 0 10px;
  font-family: "微软雅黑";
  color: #333;
  float: left;
  font-size: 12px;
}

.discount_a {
  list-style: none;
  cursor: pointer;
  width: 68px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #ff464e;
  float: right;
  font-size: 14px;
  margin: 6px 10px 0 0;
}

.discount_a:hover {
  background: red;
  color: #ffffff;
}

.time_logo {
  padding: 0;
  list-style: none;
  zoom: 1;
  clear: both;
  margin: 20px 0;
  height: 35px;
}

.time_logo_title {
  list-style: none;
  line-height: 35px;
  height: 35px;
  float: left;
  margin: 0 10px;
  width: 100px;
  font-size: 14px;
}

.time_logo li {
  list-style: none;
  line-height: 35px;
  height: 35px;
  float: left;
  margin: 0 10px;
  width: 100px;
  font-size: 14px;
}

.time_logo a {
  list-style: none;
  line-height: 35px;
  font-size: 14px;
  color: #5e5e5e;
  text-decoration: none;
}

.time_logo img {
  list-style: none;
  line-height: 35px;
  font-size: 14px;
  color: #5e5e5e;
  border: 0;
  height: 35px;
}

.last {
  display: block;
  padding: 0;
  border: 0;
  line-height: 35px;
  height: 35px;
  float: left;
  width: 80px;
  font-size: 14px;
  margin-left: 18px;
}

.last a {
  color: red;
}

.last span {
  background: url(../images/icon_arrow-new.png);
  width: 9px;
  height: 10px;
  display: inline-block;
  margin-top: -2px;
}

.updata {
  color: #666;
  line-height: 54px;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 2px;
  font-size: 12px;
}

.taobao {
  list-style: none;
  zoom: 1;
  clear: both;
  margin: 0px auto 0;
  padding-left: 14px;
  box-sizing: border-box;
  width: 1200px;
  height: 2420px;
  background: #fff;
}

.taobao li {
  color: #666;
  list-style: none;
  width: 230px;
  background: #FFF;
  float: left;
  margin: 0 6px 12px 0;
  height: 290px;
  box-sizing: border-box;
  padding-top: 6px;
  border: 1px solid transparent;
  font-size: 12px;
}

.taobao img {
  width: 220px;
  height: 220px;
}

.homelist li span {
  font-weight: 600;
  font-size: 16px;
  color: #ff464e;
}

.homelist li del {
  font-size: 14px;
  color: #bbb;
  margin: 2px 0 0 5px;
}

.homelist li div {
  width: 220px;
  height: 32px;
  line-height: 36px;
}

.page {
  width: 1200px;
  height: 120px;
  padding: 0 0 45px;
  padding-top: 30px;
  clear: both;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  line-height: 120px;
}

.page em {
  text-align: center;
  font-style: normal;
}

.page span.pg-prev {
  color: #bbb;
  font-weight: normal;
  background: #fff;
  width: 60px;
  border-radius: 20px 0 0 20px;
  box-shadow: 1px 1px 3px rgba(204, 204, 204, 0.7);
}

.page span {
  background: #ff464e;
  border: medium none;
  color: #fff;
  font-weight: bold;
}

.page a,
.page span,
.page i {
  background: none repeat scroll 0 0 #FFF;
  padding: 10px 15px;
  overflow: hidden;
  color: #919191;
  font-size: 14px;
  font-weight: bold;
  border-right: none;
}

.page span {
  background: #ff464e;
  border: medium none;
  color: #fff;
  font-weight: bold;
}

.page a.pg-next {
  width: 60px;
  border-radius: 0 20px 20px 0;
  box-shadow: 1px 1px 3px rgba(204, 204, 204, 0.7);
}

.page_div {
  height: 45px;
}

.page a {
  background: none repeat scroll 0 0 #FFF;
  padding: 10px 15px;
  overflow: hidden;
  color: #919191;
  font-size: 14px;
  font-weight: bold;
  border-right: none;
  box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
}

.page i {
  background: none repeat scroll 0 0 #FFF;
  padding: 10px 15px;
  overflow: hidden;
  color: #919191;
  font-size: 14px;
  font-weight: bold;
  border-right: none;
  box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
}

.page a:hover {
  background: #ff464e;
  color: #fff;
}

.footer {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  background: #f9f9f9;
  z-index: 100;
  border-top: #ce003f solid 1px;
  clear: both;
}
.footer .footer_bg {
  border-top: #ff464e solid 4px;
}

.footer_top {
  width: 1100px;
  padding-top: 25px;
  margin: 0 auto;
  height: 135px;
}
.footer_top .footer_code {
  float: left;
  display: inline;
  width: 90px;
}
.footer_top .footer_code .footer_code_pic {
  background: url(https://jp.juancdn.com/juanpi/images/global/jp-app-90.png?v=20160113) no-repeat;
  height: 90px;
  width: 90px;
  margin-top: 5px;
}

.footer_code_title {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}

.footer_title {
  float: left;
  display: inline;
  padding-left: 65px;
  width: auto;
  overflow: hidden;
}

.footer_title dl {
  list-style: none;
  float: left;
  display: inline;
}
.footer_title dl dt {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 7px;
}
.footer_title dl dd {
  margin-bottom: 5px;
  color: #666;
}
.footer_title dl dd a {
  list-style: none;
  text-decoration: none;
  color: #666;
  font-size: 12px;
}
.footer_title dl dd a i {
  list-style: none;
  color: #666;
  font-style: normal;
  width: 4px;
  height: 4px;
  overflow: hidden;
  border-radius: 50%;
  background: #c6c6c6;
  display: inline-block;
  margin-right: 5px;
  margin-top: 8px;
}

.update {
  width: 200px;
}

.cooperation {
  width: 200px;
}

.help {
  color: #666;
  list-style: none;
  float: left;
  display: inline;
  width: 100px;
}

.business {
  width: 200px;
}

.footer_telephone {
  width: 161px;
  float: left;
  display: inline;
  margin-top: 35px;
  margin-left: 80px;
}
.footer_telephone a {
  color: #5e5e5e;
  float: left;
  display: block;
  width: 86px;
  height: 35px;
  background: url(../images/service_add.gif) no-repeat;
  background-position: 0 -5px;
}
.footer_telephone span {
  float: left;
  display: inline;
  padding-left: 10px;
  width: 65px;
}
.footer_telephone span p {
  color: #919191;
  line-height: 18px;
  font-size: 12px;
}

.phone {
  float: right;
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
  margin-top: 20px;
  margin-right: 25px;
}

.footer_lunbo {
  width: 1100px;
  height: 20px;
  padding: 10px 0px;
  border-bottom: 1px dotted #ccc;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}
.footer_lunbo span {
  display: block;
  overflow: hidden;
  float: left;
  font-size: 12px;
  margin-top: 2px;
}
.footer_lunbo div {
  width: 970px;
  float: left;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.footer_lunbo div ul {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.footer_lunbo div ul li {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}
.footer_lunbo div ul a {
  font-size: 12px;
  margin: 0px 10px 10px 10px;
  color: #999999;
}

.more {
  float: right;
  font-size: 12px;
  color: #999999;
}

.more:hover {
  color: #0289cd;
  text-decoration: underline;
}

.licence {
  text-align: center;
  padding-top: 20px;
  color: #c6c6c6;
  font-size: 12px;
}
.licence a {
  text-align: center;
  text-decoration: none;
  color: #c6c6c6;
  font-size: 12px;
}

.copyright {
  text-align: center;
  color: #c6c6c6;
  padding-top: 2px;
  font-size: 12px;
}

.footer_logo {
  color: #999999;
  text-align: center;
  padding-top: 10px;
}
.footer_logo a {
  text-align: center;
  color: #5e5e5e;
  text-decoration: none;
}
.footer_logo a img {
  text-align: center;
  color: #5e5e5e;
  border: 0;
  margin-right: 27px;
}

.box {
  width: 100%;
  height: 60px;
  background: #ffffff;
  position: fixed;
  top: -60px;
  left: 0;
  box-shadow: 0px 0px 4px #999;
}

.box .line-cate-nav {
  color: #666;
  list-style: none;
  width: 1200px;
  margin: 0 auto;
  height: 20px;
  line-height: 20px;
}

.box .line-cate-nav li {
  color: #666;
  list-style: none;
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  line-height: 50px;
}

/*# sourceMappingURL=index.css.map */
